---
import { getConfigurationCollection } from "../../lib/utils";
import type { TocItem } from "../../lib/TocItem";
import Chip from "../../components/common/Chip.astro";
import SectionTitle from "../../components/common/SectionTitle.astro";
import SectionSubtitle from "../../components/common/SectionSubtitle.astro";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/common/Section.astro";
import TableOfContents from "../../components/common/TableOfContents.astro";
import resumeData from "../../../content/resume.json";
import type {
  Resume,
  ExperienceEntry,
  EducationEntry,
  CertificationEntry,
} from "../../lib/resume";

import SectionHeader from "../../components/common/SectionHeader.astro";

const { data: config } = await getConfigurationCollection();

const resume: Resume = resumeData;

const currentYear = new Date().getFullYear();
const manufacturingYears = currentYear - resume.manufacturingStartYear;
const azureYears = currentYear - resume.azureStartYear;

let aboutText = resume.about;
aboutText = aboutText.replace(
  "{{manufacturingYears}}",
  manufacturingYears.toString(),
);

aboutText = aboutText.replace("{{azureYears}}", azureYears.toString());

const tocItems: TocItem[] = [
  { text: "Professional Experience", link: "#professional-experience" },
  { text: "Education", link: "#education" },
  { text: "Certifications", link: "#certifications" },
];
---

<Layout>
  <Fragment slot="head">
    <title>{config.aboutMeta.title}</title>
    <meta
      name="description"
      content={config.aboutMeta.longDescription ?? config.aboutMeta.description}
    />
    <meta property="og:title" content={config.aboutMeta.title} />
    <meta property="og:description" content={config.aboutMeta.description} />
    {
      config.aboutMeta.keywords && (
        <meta name="keywords" content={config.aboutMeta.keywords.join(", ")} />
      )
    }
    {
      config.aboutMeta.cardImage && (
        <meta property="og:image" content={config.aboutMeta.cardImage} />
      )
    }
    <meta property="og:url" content={`${config.site.baseUrl}/blog`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={config.aboutMeta.title} />
    <meta name="twitter:description" content={config.aboutMeta.description} />
    {
      config.aboutMeta.cardImage && (
        <meta name="twitter:image" content={config.aboutMeta.cardImage} />
      )
    }
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={`${config.site.baseUrl}/blog`} />
  </Fragment>
  <Section class="my-8">
    <div class="flex items-center gap-4 pt-8">
      <h1 class="font-display text-3xl sm:text-4xl leading-loose">
        {config.texts.aboutName}
      </h1>
    </div>
  </Section>
  <Section class="my-4">
    <p>{aboutText}</p>
    <TableOfContents items={tocItems} class="mt-8" />
  </Section>
  <Section id="professional-experience" class="my-4">
    <SectionTitle title="Professional Experience" mb={6} />
    {
      resume.experience.map((entry: ExperienceEntry, i: number) => (
        <SectionHeader
          highlight={entry.company}
          text={`— ${entry.title}`}
          subtext={`${entry.date} | ${entry.location}`}
        >
          <ul class="list-disc list-inside space-y-2 text-justify mb-4">
            {entry.details.map((detail: string) => (
              <li>{detail}</li>
            ))}
          </ul>
          <Chip tags={entry.tags} />
          <hr
            class:list={[
              "mt-4",
              i !== resume.experience.length - 1
                ? ["zag-muted", "mb-8"]
                : "zag-border-b",
            ]}
          />
        </SectionHeader>
      ))
    }
  </Section>
  <Section id="education" class="my-4">
    <SectionTitle title="Education" />
    {
      resume.education.map((edu: EducationEntry, i: number) => (
        <SectionHeader
          highlight={edu.institution}
          text={`— ${edu.degree}`}
          subtext={`${edu.graduationYear} | ${edu.location}`}
        >
          {edu.honors.length >= 1 && (
            <p>
              <span class="font-bold">Honors</span>: {edu.honors.join(", ")}
            </p>
          )}
          <p>
            <span class="font-bold">Courses</span>: {edu.courses.join(", ")}
          </p>
          <hr
            class:list={[
              "mt-4",
              i !== resume.education.length - 1
                ? ["zag-muted", "mb-8"]
                : "zag-border-b",
            ]}
          />
        </SectionHeader>
      ))
    }
  </Section>
  <Section id="certifications" class="my-4">
    <SectionTitle title="Certifications" />
    {
      resume.certifications.map((cert: CertificationEntry) => (
        <SectionHeader
          highlight={cert.title}
          text={`— ${cert.affiliation}`}
          subtext={cert.date}
        />
      ))
    }
  </Section>
</Layout>
