---
import { getCollection } from "astro:content";
import { getConfigurationCollection } from "../../lib/utils";
import Layout from "../../layouts/Layout.astro";
import ArticleSnippet from "../../components/ArticleSnippet.astro";
import Section from "../../components/common/Section.astro";

const { data: config } = await getConfigurationCollection();
---

<Layout>
  <Fragment slot="head">
    <title>{config.aboutMeta.title}</title>
    <meta
      name="description"
      content={config.aboutMeta.longDescription ?? config.aboutMeta.description}
    />
    <meta property="og:title" content={config.aboutMeta.title} />
    <meta property="og:description" content={config.aboutMeta.description} />
    {
      config.aboutMeta.keywords && (
        <meta name="keywords" content={config.aboutMeta.keywords.join(", ")} />
      )
    }
    {
      config.aboutMeta.cardImage && (
        <meta property="og:image" content={config.aboutMeta.cardImage} />
      )
    }
    <meta property="og:url" content={`${config.site.baseUrl}/blog`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={config.aboutMeta.title} />
    <meta name="twitter:description" content={config.aboutMeta.description} />
    {
      config.aboutMeta.cardImage && (
        <meta name="twitter:image" content={config.aboutMeta.cardImage} />
      )
    }
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={`${config.site.baseUrl}/blog`} />
  </Fragment>
  <Section class="my-8">
    <div class="flex items-center gap-4 pt-8 pb-16">
      <h1 class="font-display text-3xl sm:text-4xl leading-loose">
        {config.texts.aboutName}
      </h1>
    </div>
  </Section>
</Layout>
