---
import Anchor from "./common/Anchor.astro";
import Chip from "./common/Chip.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  githubUrl?: string;
  liveUrl?: string;
  tags: string[];
};

const { title, description, url, githubUrl, liveUrl, tags } = Astro.props;
---

<div class="relative flex flex-col gap-3 mb-8 hover-zag-dotted-grid">
  <div class="flex flex-col gap-3 sm:flex-row sm:justify-between">
    <Anchor url={url} class="text-xl">
      {title}
    </Anchor>
    <div class="flex gap-2">
      {
        githubUrl ? (
          <Anchor url={githubUrl} class="text-base" external externalIcon>
            GitHub
          </Anchor>
        ) : null
      }
      {
        liveUrl ? (
          <Anchor url={liveUrl} class="text-base" external externalIcon>
            Live
          </Anchor>
        ) : null
      }
    </div>
  </div>
  <p class="zag-text zag-transition">
    {description}
  </p>
  <Chip tags={tags} />
</div>
